
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>

    @foreach (var itm in ViewBag.List)
    {
        <ul>

            @itm.Name

            @itm.City
             tis is tetew
        </ul>

    }

</p>

